

.activity{
    width: 270px;
    height: 425px;
    position: relative;
    text-align: start;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #120b0b85;
     padding: 5px;
}

.activity img{
    width: 270px;
    height: 170px;
    border-radius: 10px;
   
}
.btn{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: orange;
    position: absolute;
    bottom:0;
    border-radius: 10px;
   

}
.btn:hover{
    background-color: aqua;
}