

.activity{
    width: 300px;
    height: 425px;
     border: 1px solid #95A0A7;
     border-radius: 8px;
     position: relative;
     background-color: white;
}
.activity-header{
    font-size: 25px;
    margin: 0px;
}

.activity img {
    width: 286px;
    height: 194px;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 7px;
    margin-right: 7px;
}
.activity-details{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    margin-left: 14px;
    margin-right: 14px;
}
.btn{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: orange;
    position: absolute;
    bottom:0;
    border-radius: 10px;
    border: 0px;

}
.btn:hover{
    background-color: aqua;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .activity{
        width: 100%;
        margin: 7px;

      }
      .activity img {
        width: 100%;
        height: 40%;
       
        align-items: center;

    }
      
    }